.success {
    border: 1px solid #bbdde5;
    background: #eef8f9;
    padding: 0 10px 10px 10px;
}

.success p {
    padding: 10px 0 0 0;
    color: #008000;
}

.success p a {
    text-decoration: none;
    color: #335b64;
}

.success p a:hover {
    text-decoration: underline;
    color: #f60;
}